* {
	font-family: 'Playfair Display', serif;
}

li {
	list-style: none;
}

.wrapper {
	width: calc(100vw - 100px);
	height: 100%;
	background-color: rgba(255, 255, 255, 0.652);
	margin: 0 auto;
	border-radius: 10px;
	max-width: 1400px;
}

.container {
	width: 90%;
	margin: 0 auto
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
	width: 10px;
	/* ширина для вертикального скролла */
	height: 8px;
	/* высота для горизонтального скролла */
	background-color: #c2c2c2;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: #f7c14ccc;
	border-radius: 6px;
	box-shadow: inset 1px 1px 4px #f3faf7;
}


.content {
	padding: 40px;
	background: url('./assets/image/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	border-radius: 15px;


	&__top {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between
	}

	&__items {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: flex-start;
			justify-content: space-around;
			margin-top: 50px;
	}
}

.header {
	// border-bottom: 1px solid #d1b49d;
	padding: 40px 0;

	&__logo {
			margin-left: 20px;

			h3 {
					margin-top: -16px;
					margin-left: 20px;
					font-size: 13px;
					color: rgb(95, 86, 75);
			}
	}

	&__container {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			margin: 0 10px;
	}

	&__cart {
			display: flex;
			align-items: center;
			height: 90px;
	}

	&__cart_img {
			height: 40px;
	}


}

.categories {
	ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			justify-content: space-around;

			li {
					padding: 10px 20px;
					cursor: pointer;
					font-size: 16px;
					font-weight: 900;

					&:hover {
							opacity: 0.8;
							border-bottom: 2px solid #F9D01F;
					}
			}
	}
}


.button {
	font-family: 'Playfair Display', serif;
	display: inline-block;
	font-size: 20px;
	background: none;
	text-align: center;
	align-items: center;
	border: none;
	cursor: pointer;
	outline: none;
}

.active {
	border-bottom: 2px solid #F9D01F;
}


.sort {
	position: relative;

	&__label {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;

			svg {
					margin-right: 10px;

					&.rotate {
							transform: rotate(180deg)
					}

			}

			span {
					color: #e6bc03;
					font-weight: bold;
					border-bottom: 1px dashed #F9D01F;
					cursor: pointer
			}
	}

	&__popup {
			position: absolute;
			right: 0;
			margin-top: 15px;
			background: #ffffffd4;
			-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
			border-radius: 10px;
			overflow: hidden;
			padding: 10px 0;
			width: 200px;

			ul {
					overflow: hidden;

					li {
							list-style: decimal;
							padding: 7px 14px;
							cursor: pointer;

							&:hover {
									opacity: 0.6;
							}

							&.activ {
									font-weight: bold;
									color: rgb(39, 39, 39);
							}
					}
			}
	}


}

.book-block {
	width: 280px;
	text-align: center;
	margin-bottom: 70px;


	&__author {
			font-size: 15px;
			line-height: 0;
	}

	&__active {
			-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.364);
	}

	&__disabled {
			opacity: 0.2;
			pointer-events: none;
	}

	&__price {
			font-weight: bold;
			font-size: 22px;
			line-height: 32px;
			letter-spacing: 0.015em
	}

	&__image {
			width: 230px;
			height: 320px;
			border-radius: 10px;

	}

	&__title {
			font-size: 16px;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 1%;
			margin-top: 20px;
	}

	&__selector {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			justify-content: center;
			background-color: #fffcd1b8;
			border-radius: 10px;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			padding: 6px;
			margin: 20px;
			-webkit-box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.33);

	}

	&__button {
			background-color: transparent;
			border: 2px solid bisque;
			padding: 10px;
			margin: 10px 20px;
			border-radius: 10px;
			color: black;
			letter-spacing: 1;
			font-size: 15px;
			transition: .15s ease-in-out;
			cursor: pointer;
			outline: none;

			&:hover {
					box-shadow: 0 0 10px 0 bisque inset, 0 0 10px 4px bisque;
					background-color: transparent;

			}
	}

	ul {
			padding: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;

			li {
					border-radius: 6px;
					-webkit-box-flex: 1;
					-ms-flex: 1;
					flex: 1;
					cursor: pointer;
					font-size: 14px;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					margin: 0 5px;
					margin-top: -7px;
					padding: 3px;

					&:hover {
							opacity: 0.7;
					}


			}


			&__bottom {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					margin-top: 20px
			}
	}




}


.cart {
	&__item {

			&-price {
					font-size: 20px;
					margin: 10px;
			}

			&-button {
					background-color: transparent;
					border: 1px solid rgb(41, 41, 41);

					margin: 10px;
					border-radius: 7px;
					color: rgb(48, 48, 48);
					text-transform: uppercase;
					font-size: 15px;
					line-height: 0;
					padding: 14px;
					transition: .15s ease-in-out;
					cursor: pointer;
					outline: none;

					&:hover {
							box-shadow: 0 0 10px 0 bisque inset, 0 0 10px 4px bisque;
							background-color: transparent;
					}

					&-count {
							background-color: transparent;
							border: 1px solid rgb(17, 17, 17);
							height: 30px;
							width: 30px;
							margin: 10px;
							border-radius: 7px;
							color: rgb(0, 0, 0);
							text-transform: uppercase;
							font-size: 20px;
							line-height: 0;
							transition: .15s ease-in-out;
							cursor: pointer;
							outline: none;

							&:hover {
									box-shadow: 0 0 10px 0 bisque inset, 0 0 10px 4px bisque;
									background-color: transparent;
							}
					}
			}

			&-image {
					width: 200px;
					margin-right: 20px;
			}

			&-count {
					align-items: center;
					display: flex;
					height: 40px;
			}
	};

	&__top {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center
	}

	&__clear-button {
			background-color: transparent;
			border: 2px solid bisque;
			padding: 10px 20px;
			margin: 10px 20px;
			border-radius: 10px;
			color: bisque;
			text-transform: uppercase;
			letter-spacing: 1;
			font-size: 15px;
			transition: .15s ease-in-out;
			cursor: pointer;
			outline: none;

			&:hover {
					box-shadow: 0 0 10px 0 bisque inset, 0 0 10px 4px bisque;
					background-color: transparent;
			}
	}


	&__item {
			display: flex;
			justify-content: space-between;
			max-width: 450px;
			margin-bottom: 35px;
			background-color: #f3ecd1a3;
	padding: 20px;
	padding-right: 90px;
border-radius: 10px;

			&-content {
					display: flex;
					flex-direction: column;
			}

			&-info {
					width: 200px;

					h3 {
							font-size: 21px;

					}
			}
	}

	&__items {
			display: flex;
			flex-direction: column;

	}


	&__bottom {
			margin-top: 50px;
			background-color: #f3ecd1a3;
			border-radius: 10px;
			padding: 20px;
			text-align: center;

			&-details {
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;
					padding: 10px;
					font-size: 16px;
			}

			&-buttons {
					display: flex;
					justify-content: space-between;
			}

			&-link {
					background-color: transparent;
					border: none;
					color: #000;
					font-size: 16px;
					text-decoration: none;
					transition: .15s ease-in-out;
					cursor: pointer;
					padding: 10px;

					&:hover {
							box-shadow: 0 0 10px 0 bisque inset, 0 0 10px 4px bisque;
					}
			}

			&-row {
					width: 340px;
					margin: 0 auto;
			}

	}

	&__empty{
			text-align: center;
			margin: 0 auto;
			h2, p{
					text-align: center;
			}
			p{
					font-size: 17px;
			}
	&-link{
			text-align: center;
			background-color: transparent;
			border: none;
			color: #000;
			font-size: 16px;
			text-decoration: none;
			transition: .15s ease-in-out;
			cursor: pointer;
			padding: 10px;

			&:hover {
					box-shadow: 0 0 10px 0 bisque inset, 0 0 10px 4px bisque;
			}
	}
	}

}




.cart .content__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 32px
}


.search{
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 40px 0;
	.search__icon{
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}
	input{
		width: 230px;
		background-color: transparent;
		border: 1px solid bisque;
		padding: 10px 7px;
		border-radius: 10px;
		color: black;
		transition: .15s ease-in-out;
		cursor: pointer;
		outline: none;

		&:hover {
				box-shadow: 0 0 10px 0 bisque inset, 0 0 10px 4px bisque;
				background-color: transparent;

		}
	}
}